/* global style */
.buttons form{
 display: inline-block;
}

/* home style */
.home h1{
 color: darkseagreen;
}

/* post style */
.post h2 {
 color: tomato;
 text-align: center;
}
.post .post-body{
 white-space: pre-line;
 padding: 6px 15px 20px;
}
.post .posts .date{
 width: 100px;
}
.post .post-info{
 font-size: 11px;
 margin: 5px;
 padding: 5px 10px;
 background-color: #E4E4E4;
 border: 0 solid black;
 border-radius: 5px;
}
.post .post-info>div{
 padding: 5px 0;
 border-top: 1px dotted #999;
}
.post .post-info>div:first-child{
 border-top: none;
}
.post .post-info span{
 display: inline-block;
 width: 40px;
}
