<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-about">
      <h1>About</h1>

      <P><P>This site is built for MEAN stac study purpose.</p></p>
    </div>
  </body>
</html>
